<!DOCTYPE html>
<html>
<head>
    <!-- Scripts: -->

    <!-- Local scripts: -->
    <script type="text/javascript" src="../../scripts/gaussian_distribution_generator.js" ></script> 
    <script type="text/javascript" src="../../scripts/experiments/jnd.js" ></script>
    <script type="text/javascript" src="../../scripts/experiment_helpers.js" ></script>
    
    <!-- Math.js: -->
    <script src="https://unpkg.com/mathjs@4.4.2/dist/math.min.js"></script>

    <!-- D3: -->
    <script src = "https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v0.4.min.js"></script>

    <!-- Style: -->
    <!-- <link rel="stylesheet" href="../../styles/trial_display.css"> -->

</head>
<body>
  <div align = "center">

    <!-- For margin buffer: -->
    <svg width="400" height="180"></svg>
    
    <!-- D3 graph goes here: -->
    <div id="graph">
    </div>
    
    <script type="text/javascript">

    // ========================================
    // PREPARE DATA

    var left_dataset = prepare_coordinates(left_coordinates, distribution_size);
    var right_dataset = prepare_coordinates(right_coordinates, distribution_size);

    var datasets = [left_dataset, right_dataset];

    // ========================================
    //  GRAPHING

    var width = 250;
    var height = 500;

    // Create scales:
    // ** D3 creates a function that takes in input between [0, 100] and 
    //    outputs between [0, width].
    //    Basically, domain = input, range = ouput. 
    var xscale = d3.scaleLinear()
                   .domain([0, multiplier]) 
                   .range([0, width]);

    var yscale = d3.scaleLinear()
                   .domain([multiplier * -1, 0]) // !!! NOTE: this is the hack b/c we flipped the y-values 
                                                 //     to be negative --> graph is now positive correlation
                                                 //     but on 4th quadrant --> force domain to be from 
                                                 //     [-1, 0] to move it to 1st quadrant 
                   .range([height/2, 0]);

    // Create axes: 
    var x_axis = d3.axisBottom()
                   .scale(xscale)
                   .tickSize([0]);

    var y_axis = d3.axisLeft()
                   .scale(yscale)
                   .tickSize([0]);

    // Create/append the SVG for both graphs: 
    for (var data of datasets){
      
      var chart = d3.select("#graph") // Insert into the div w/ id = "graph"
                    .append("svg") 
                      .attr("width", width + 60) // Width and height of the SVG viewpoint
                      .attr("height", height);   // +40 is for buffer (points going -x)

      // Creating transform SVG elements + append to SVG: 
      var yAxisElements = chart.append("g")
                                 .attr("transform", "translate(50, 10)")
                                 //.attr("transform", "translate(50, " + height/2 + ")")
                                 .call(y_axis);

      var xAxisTranslate = height/2 + 10;
      //var xAxisTranslate = height - 1;
      var xAxisElements = chart.append("g")
                                .attr("transform", "translate(50, " + xAxisTranslate  +")")
                                .call(x_axis)

      // Populating data: 
      chart.selectAll("circle") // Technically no circles inside div yet, but will be creating it
            .data(data)
              .enter()
              .append("circle") // Creating the circles for each entry in data set 
              .attr("cx", function (d) { // d is a subarray of the dataset i.e coordinates [5, 20]
                return xscale(d[0]) + 60; // +60 is for buffer (points going -x, even if they are positive)
              })
              .attr("cy", function (d) {
                return yscale(d[1]);
              })
              .attr("r", trial_data.point_size).style("fill", trial_data.point_color);

      // Set axis color
      chart.selectAll("path")
           .attr("stroke", trial_data.axis_color);

      // Remove tick labels
      chart.selectAll("text").remove();     

    }

    // Set background color
    document.body.style.backgroundColor = trial_data.background_color;

    </script>
  </div>
</body>
</html>
