img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  height: 100vh;
  margin: 0;
  position: relative;
}

.box {
  color: #000000;
  height: auto;
  margin-left: 30vw;
  position: absolute;
  text-align: center;
  top: 30%;
  width: auto;
}
